@font-face {
  font-family: IBM;
  src: url('fonts/HelveticaNeue.ttf');
  font-style: bold;
}





/* MOBILE SCREENS (DEFAULT) */

/* Start menu button */
#navToggle { display: block; width: 28px; height: 30px; position: fixed; right: 15px; top: 28px; }
#navToggle span:after,
#navToggle span:before { content: ""; position: absolute; left: 0; top: -9px; /* spazio linee */}
#navToggle span:after{ top: 9px; /* spazio linee */}
#navToggle span { position: relative; display: block; }
#navToggle span,
#navToggle span:after,
#navToggle span:before { width: 100%; height: 2px; /* spessore */ background-color: #ffffff;
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  backface-visibility: hidden; border-radius: 1px; }
  #navToggle.on span { background-color: transparent; }
  #navToggle.on span:before {
    webkit-transform: rotate(45deg) translate(5px, 5px);
    -moz-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
  }
  #navToggle.on span:after {
    webkit-transform: rotate(-45deg) translate(7px, -7.5px);
    -moz-transform: rotate(-45deg) translate(7px, -7.5px);
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #navToggle.on + #menu { opacity: 1; visibility: visible; }
  /* End menu button */


  #logoDesk { display: none; }

  #searchForm {
    display: none;
    position: fixed;
    width: 100%;
    top: 12px;
    background-color: #26343F; /*COLORE SFONDO MENU MOBILE*/
    z-index: 7000;
    clear: left;
    font: 14px Helvetica,Arial,sans-serif;
  }

  #search { /* Icona di ricerca */
    position: fixed;
    right: 15%;
    top: 19px;
    height: 60px;
  }

  header {
    background-color: #343B43; /*COLORE SFONDO MENU MOBILE*/
    display: flex;
    position: fixed;
    z-index: 1000;
    flex-direction: column;
    text-align: left;
    width: 100%;
    /*border-bottom: thin solid #D8D9D7;*/ /*border under header*/
  }

  /*	header > .topline {
  position: fixed;
  height: 10px;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  z-index: 10000;
  background-image: url(../images/top.png);
  background-repeat: repeat-x;
  background-size: 600px 100%;
  }*/

  header > div#logo {
    /*line-height: 30px;*/
    z-index: 1000;
    position: relative;
    top: 0px;
  }

  header > .menuDown {
    /*box-shadow: 0 3px 5px rgba(0,0,0,0);*/
  }

  header > .menuUp {

  }

  header > div#logo > h1 { /*TITOLO MENU MOBILE */
    color: #FFFFFF;
    font-weight: 100;
    text-transform: none;
    text-align: left;
    margin-left: 15px;
    position: relative;
    top: 0px;
  }

  header > div#logo > h1 > a { /*LINK HOME MENU MOBILE */
    color: #FFFFFF;
  }

  header > nav { /*SFONDO DROP-DOWN MOBILE*/
    background: rgb(51,51,51,.95);
    display: none;
    flex: 1;
    transform: 300ms all ease;
    /*position: relative;*/
    /*top: 5px;*/
  }

  header nav > ul { list-style-type: none; }
  header nav > ul > li { border-bottom: 1px solid rgba(0,0,0,.04); position: relative; }
  header nav > ul > li:last-of-type { border-bottom: none; }

  header nav > ul > li > a {
    display: block;
    padding: 0.2rem 25px; /*separazione righe menu mobile*/
    text-decoration: none;
    text-transform: lowercase;
    text-align: left;
    font-family: mic-32-new-web, sans-serif; font-style: normal; font-weight: 300; font-size: 20px;
    transition: 250ms all ease;
    color: #FFFFFF;
  }

  header nav > ul > li > a span.toggle { /*ATTRIBUTI EXPAND / CLOSE BUTTONS*/
    background-color: rgba(0,0,0,.1);
    border-radius: 0.25rem;
    color: #FFFFFF;
    font-size: 0.75em;
    font-weight: 500;
    padding: 2px 8px;
    text-transform: lowercase;
  }

  header nav > ul > li > a span.caret {
    display: none;
  }

  header > nav > ul > li:hover > a {
    color:#565656;
  }

  header > nav > ul > li > nav { /*ATTRIBUTI EXPAND / CLOSE MOBILE*/
    background-color: rgb(51,51,51);
    opacity: 0.99; /*opacità drop-down menu*/
    border-radius: .25em;
    box-shadow: 0 2px 8px rgba(0,0,0,.6);
    display: none;
    overflow: hidden;
    position: absolute;
    left: 35%; /*posizione laterale expand / close mobile*/
    width: 65%;
    z-index: 100;
  }

  header > nav > ul > li > nav > ul > li > a {
    color: /*rgba(255,255,255,.85);*/ #1E52A6;
    transition: 300ms all ease;
  }

  header > nav > ul > li > nav > ul > li:hover > a {
    background-color: transparent; /*COLORI HOVER DROP-DOWN MENU*/
    color: #9F9F9F;
  }


  /* Tablet portrait */

  @media screen and (min-width: 768px) {

    #logoDesk { display: block; font-family: "museo-sans",sans-serif; position: fixed; top: 10px; left: 10px; }
    #logoDesk > a { color: #FFFFFF; display: block; font-size: 20px; }

    #searchForm { display: none; position: fixed; width: 20%; top: 75px; right: 0%;
      background-color: transparent;	z-index: 10000; clear: left; font-family: "museo-sans",sans-serif; font-size: 14px;
    }
    #search { z-index: 7000;	position: relative; top: 10px; right: -1%; }

    header {
      flex-direction: row; line-height: 60px; /*spessore barra menu desktop*/
      padding: 0 3rem; position: fixed; top: 0px; text-align: left; width: 100%; z-index: 5000;
    }
    /*		header > .topline { position: fixed; height: 10px;	width: 100%;	top: 0px; left: 0px; z-index: 10000;
    background-color: #FFFFFF; background-image: url(../images/top.png);
    background-repeat: repeat-x; background-size: 1920px 100%;
    }*/
    header > div#logo { background-color: transparent; line-height: 90px; }
    header > div#logo > h1 { display: none; }
    header > div#logo > div#navToggle { display: none; }
    header > nav { background-color: transparent; display: block; }
    header > nav > ul { display: flex; flex-flow: row wrap; justify-content: flex-end; } /* posizione link menu */
    header nav > ul > li { border-bottom: none; }
    header nav > ul > li  > nav { top: 60px; left: 10px; } /*posizione drop down menu desktop*/
    header nav > ul > li > a { /* scritte link menu */
      padding: 0 0.5rem; /* spaziatura tra i link */
      font-family: "museo-sans",sans-serif; font-style: normal; font-weight: 500; color: #000000; text-align: left;
      font-size: 15px; /* dimensione testo menu desktop */
    }
  header nav > ul > li > a:hover{ color: #1D71B8; /* hover scritte link menu */ }
  header nav > ul > li > a span.toggle { display: none; }
  header nav > ul > li:hover > a span.caret { border-top-color: #1D71B8; transform: rotate(270deg); }
  header nav > ul > li > a span.caret { /* freccina dropdown menu */
    display: inline-block; height: 0px; width: 0px; vertical-align: middle; margin: 0 0 0 .25rem; border-radius: 1px; content: "";
    border-bottom: 	4px solid transparent;
    border-top: 		4px solid #1D71B8;
    border-right: 		4px solid transparent;
    border-left: 		4px solid transparent;
    webkit-transition: 250ms all ease;
    -moz-transition: 250ms all ease;
    transition: 250ms all ease;
  }

  header > nav > ul > li:hover > nav { /* dropdown menu */
    display: block; border-radius: .25em;
    background-color: rgb(51,51,51); color: #000000;
    right: -120%; line-height: 2em; width: 210px; text-align: left;
    padding-top: 10px; padding-bottom: 10px; z-index: 6000;
    -webkit-box-shadow: 	0px 7px 10px 1px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    	0px 7px 10px 1px rgba(50, 50, 50, 0.6);
    box-shadow:         		0px 7px 10px 1px rgba(50, 50, 50, 0.6);
  }

  /* Tablet landscape */

  @media screen and (min-width: 1024px) {

    #logoDesk { display: block; font-family: "museo-sans",sans-serif; position: fixed; top: 10px; }
    #logoDesk > a { color: #FFFFFF; display: block; font-size: 20px; }

    #searchForm { display: none; position: fixed; width: 20%; top: 75px; right: 0%;
      background-color: transparent;	z-index: 10000; clear: left; font-family: "museo-sans",sans-serif; font-size: 14px;
    }
    #search { z-index: 7000;	position: relative; top: 10px; right: -1%; }

    header {
      flex-direction: row; line-height: 60px; /*spessore barra menu desktop*/
      padding: 0 3rem; position: fixed; top: 0px; text-align: left; width: 100%; z-index: 5000;
    }
    /*		header > .topline { position: fixed; height: 10px;	width: 100%;	top: 0px; left: 0px; z-index: 10000;
    background-color: #FFFFFF; background-image: url(../images/top.png);
    background-repeat: repeat-x; background-size: 1920px 100%;
    }*/
    header > div#logo { background-color: transparent; line-height: 90px; }
    header > div#logo > h1 { display: none; }
    header > div#logo > div#navToggle { display: none; }
    header > nav { background-color: transparent; display: block; }
    header > nav > ul { display: flex; flex-flow: row wrap; justify-content: flex-end; } /* posizione link menu */
    header nav > ul > li { border-bottom: none; }
    header nav > ul > li  > nav { top: 60px; left: 10px; } /*posizione drop down menu desktop*/
    header nav > ul > li > a { /* scritte link menu */
      padding: 0 1rem; /* spaziatura tra i link */
      font-family: "museo-sans",sans-serif; font-style: normal; font-weight: 500; color: #000000; text-align: left;
      font-size: 21px; /* dimensione testo menu desktop */
    }
  header nav > ul > li > a:hover{ color: #1D71B8; /* hover scritte link menu */ }
  header nav > ul > li > a span.toggle { display: none; }
  header nav > ul > li:hover > a span.caret { border-top-color: #1D71B8; transform: rotate(270deg); }
  header nav > ul > li > a span.caret { /* freccina dropdown menu */
    display: inline-block; height: 0px; width: 0px; vertical-align: middle; margin: 0 0 0 .25rem; border-radius: 1px; content: "";
    border-bottom: 	4px solid transparent;
    border-top: 		4px solid #1D71B8;
    border-right: 		4px solid transparent;
    border-left: 		4px solid transparent;
    webkit-transition: 250ms all ease;
    -moz-transition: 250ms all ease;
    transition: 250ms all ease;
  }

  header > nav > ul > li:hover > nav { /* dropdown menu */
    display: block; border-radius: .25em;
    background-color: rgb(51,51,51); color: #000000;
    right: -120%; line-height: 2em; width: 210px; text-align: left;
    padding-top: 10px; padding-bottom: 10px; z-index: 6000;
    -webkit-box-shadow: 	0px 7px 10px 1px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    	0px 7px 10px 1px rgba(50, 50, 50, 0.6);
    box-shadow:         		0px 7px 10px 1px rgba(50, 50, 50, 0.6);
  }

}


/* Desktop */

@media all and (min-width: 1200px) {

  #logoDesk { display: block; position: fixed; top: 0px; left: auto; }
  #logoDesk > a { color: #FFFFFF; display: block; font-size: 22px; font-family: IBM; text-decoration: none; }

  /*#searchForm { display: none; position: fixed; width: 20%; top: 75px; right: 0%;
  background-color: transparent;	z-index: 10000; clear: left; font-family: "museo-sans",sans-serif; font-size: 14px;
  }*/
  /*#search { z-index: 7000; position: relative; top: 10px; right: -1%; }*/

  header {
    flex-direction: row; line-height: 65px; /*spessore barra menu desktop*/
    padding: 0 3rem; position: fixed; top: 0px; text-align: left; width: 100%; z-index: 5000;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
  }
  header.smaller { line-height: 60px; }


  /*		header > .topline { position: fixed; height: 10px;	width: 100%;	top: 0px; left: 0px; z-index: 10000;
  background-color: #FFFFFF; background-image: url(../images/top.png);
  background-repeat: repeat-x; background-size: 1920px 100%;
  }*/
  header > div#logo { background-color: transparent; line-height: 90px; }
  header > div#logo > h1 { display: none; }
  header > div#logo > div#navToggle { display: none; }
  header > nav { background-color: transparent; display: block; }
  header > nav > ul { display: flex; flex-flow: row wrap; justify-content: flex-end; }
  header nav > ul > li { border-bottom: none; }
  header nav > ul > li  > nav { top: 60px; left: 10px; } /*posizione drop down menu desktop*/
  header nav > ul > li > a { /* scritte link menu */
    padding: 0 1rem; /* spaziatura tra i link */
    font-family: IBM;/*, sans-serif; font-style: normal; font-weight: 300; */color: #FFFFFF; text-align: left;
    font-size: 18px; /* dimensione testo menu desktop */
  }
  header nav > ul > li > a:hover{ color: #5592CC; }
  header nav > ul > li > a span.toggle { display: none; }
  header nav > ul > li:hover > a span.caret { border-top-color: #5592CC; transform: rotate(270deg); }
  header nav > ul > li > a span.caret {
    display: inline-block; height: 0px; width: 0px; vertical-align: middle; margin: 0 0 0 .25rem; border-radius: 1px; content: "";
    border-bottom: 	4px solid transparent;
    border-top: 		4px solid #1D71B8;
    border-right: 		4px solid transparent;
    border-left: 		4px solid transparent;
    webkit-transition: 250ms all ease;
    -moz-transition: 250ms all ease;
    transition: 250ms all ease;
  }

  header nav > ul > li > a:hover {
    border-bottom: 4px #00A6A0 solid;
    color: #00A6A0;
  }

  header ul > li .active {
    border-bottom: 4px #00A6A0 solid;
  }

  header > nav > ul > li:hover > nav {
    display: block; border-radius: .1em;
    background-color: #F6F7F5; color: #000000;
    right: -120%; line-height: 2em; width: 210px; text-align: left;
    padding-top: 10px; padding-bottom: 10px; z-index: 6000;
    -webkit-box-shadow: 	0px 7px 10px 1px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    		0px 7px 10px 1px rgba(50, 50, 50, 0.6);
    box-shadow:         		0px 7px 10px 1px rgba(50, 50, 50, 0.6);
  }

  /*.navsmaller { top: 60px; }*/ /* space to center in case of nav smaller */
  .navlarger { top: 95px; } /* space to center in case of nav larger */


  .topline {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 60px;
    display: block;
    background-color: #FFFFFF;
    z-index: 1000;
  }


  input[name=search] {
    width: 50px;
    height: 30px;
    position: relative;
    top: -10px;
    font-size: 16px;
    background-image: url('../ico/search_32.png');
    background-size: 20px;
    filter: invert(100%);
    background-color: transparent;
    background-position: 10px 5px;
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    display: inline-block;
    border: none;
  }

  input[name=search]:focus {
    width: 12%;
    text-align: right;
    border-bottom: 1px #000000 solid;
    /*height: 65px;
    filter: invert(100%);
    background-color: #FFFFFF;*/

  }

  .searchsmaller { margin-top: 15px; }
  .searchlarger { margin-top: 30px; }

}
