/* ================ MOBILE =====================*/

@media only screen and (min-width: 480px){

* {
  margin: 0; padding: 0px; outline: none;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  text-decoration: none;
}


body{ 
	background-color: #F6F6F6; 
	text-rendering: optimizeLegibility; 
	-webkit-font-smoothing: antialiased; 
	}


.content {
  position: relative;
  top: 100px;
  bottom: 60px;
  margin: 0 auto;
  max-width: 95rem;
  width: 100%;
  font-family: "IBM";
  font-style: normal;
  font-weight: 100;
  font-size: 15px;
  text-transform: none;
  color: #5a6872;
  overflow: hidden;
}

.column { float: left; padding-left: 1rem; padding-right: 1rem; }
.column > a { color: #494949; text-decoration: none; font-weight: bold; }
/* .column > img {	float: center; width: auto; overflow: hidden; position: absolute; height: 270px; top: -30px; } */

.column.full { 			width: 100%; 	text-align: left; font-weight: 100; font-size: 15px; text-transform: none; }
.column.two-thirds { 	width: 100%; 	text-align: left; }
.column.half { 			width: 100%; 	text-align: left; }
.column.third { 		width: 100%; 	text-align: left; }
.column.fourth { 		width: 100%; 	text-align: left; }
.column.three-fourths { width: 100%;	text-align: left; }
.column.flow-opposite { float: right; 	text-align: left; }

}

/* ================ TABLET PORTRAIT =====================*/

@media only screen and (min-width: 480px) and (max-width: 768px) {

  .content { width: 100%; display: block; overflow: hidden; }
  .column.fourth { width: 50%; display: block; }

}


/* ================ TABLET LANDSCAPE =====================*/

@media only screen and (min-width: 768px) and (max-width: 1250px) {
	
  .content { width: 100%; display: block; overflow: hidden; }

  .column.full { 		  width: 100%; }
  .column.two-thirds { 	  width: 66.7%; }
  .column.half { 		  width: 50%; }
  .column.third { 		  width: 33.3%; }
  .column.fourth { 		  width: 25%; display: block; }
  .column.three-fourths { width: 75%; }
  .column.flow-opposite { float: right; }

}


/* ================ DESKTOP =====================*/

body { min-width: 1024px; }	
	
  	
.content { width: 100%/*73.5%*/; }
  
/* .column > img { float: left; height: 200px; top: -30px; } */
.column > right { text-align: right; font-family: "museo-sans",sans-serif; font-style: normal; font-weight: 500; font-size: 25px; text-transform: none;	color: #343B43;	vertical-align: middle;	}

.column.two-thirds { 	width: 66.7%; }
.column.half { 		 	width: 50%; }
.column.third { 	 	width: 33.3%; }
.column.fourth { 		width: 25%; display: block; }
.column.half-fourth { 		width: 12.5%; display: block; }
.column.three-fourths { width: 75%; }
.column.halfthird { 	width: 16.6%; text-align: left;	}