/* ---------------------------- DESIGN SCROLLBAR for webkit browsers ---------------------------- */
::-webkit-scrollbar { width: 8px; }
/* Track */
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-border-radius: 1px; border-radius: 1px; }
/* Handle */
::-webkit-scrollbar-thumb { -webkit-border-radius: 1px; border-radius: 1px; background: #152935; -webkit-box-shadow: inset 0 0 6px rgb(66,66,66); }
::-webkit-scrollbar-thumb:window-inactive { background: rgb(66,66,66); }
/* ---------------------------- END DESIGN SCROLLBAR for webkit browsers ---------------------------- */


.progressbar {
  margin: 20px;
  width: 80%;
  height: 80%;
  position: relative;
}

.progressbar.home {
  margin: auto;
  width: 70%;
  height: 70%;
  position: relative;
}

/* ---------------------------- CSS GALLERY ---------------------------- */
body { font: 10px sans-serif; }

.axis path, .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
.grid path, .grid line { fill: none; stroke: rgba(0, 0, 0, 0.25); shape-rendering: crispEdges; }
.x.axis path { display: none; }
.line { fill: none; stroke-width: 2.5px; }
.circle { fill: none; stroke: steelblue; stroke-width: 8.5px; }
.column-captions { float: left; width: auto; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 40000000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.99);
}

body.modal { overflow: hidden; }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #000000;
  margin: auto;
  padding: 0;
  width: 60%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover, .close:focus { color: #999; text-decoration: none; cursor: pointer; }
.mySlides { display: none; }
.cursor { cursor: pointer; height: 50px; width: auto; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next { right: 0; border-radius: 3px 0 0 3px; } /* Position the "next button" to the right */
.prev:hover, .next:hover { background-color: rgba(0, 0, 0, 0.8); } /* On hover, add a black background color with a little bit see-through */
.numbertext { color: #f2f2f2; font-size: 12px; padding: 8px 12px; position: absolute; top: 0; } /* Number text (1/3 etc) */
.caption-container { text-align: center; background-color: rgba(0, 0, 0, 0.99); padding: 2px 16px; color: white; }
.demo { opacity: 0.6; height: 50px; }
.active, .demo:hover { opacity: 1; height: 50px; }
.modal-img { height: 400px; margin: auto; display: block; }
/*img { margin-bottom: -4px; }*/
img.hover-shadow { transition: 0.3s; }
.hover-shadow:hover { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

/* ---------------------------- END CSS GALLERY ---------------------------- */
